<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ movie.heading }}
                <small>{{ movie.subheading }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a>
                </li>
                <li class="active">Comments</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Heading Row -->
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-md-8">

            <!-- Blog Post -->

            <!--<hr>-->

            <!-- Date/Time -->
            <!--<p><i class="fa fa-clock-o"></i> Posted on August 24, 2013 at 9:00 PM</p>

            <hr>-->

            <!-- Preview Image -->
            <img class="img-responsive" ng-src="{{movie.img}}" alt="">
            <!-- <img class="img-responsive" ng-src="http://placehold.it/900x300" alt=""> -->


        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="well">
                <h4>Movie Rating</h4>
                <p>IMDB rating: {{ movie.rating }}/10</p>
                <p>Users rating: 4/10 <small>(1 votes)</small></p>
                <p>Your rating: <span style="font-size: 20px"><rating ng-model="4" max="10" readonly="true"></rating></span></p>
                <!--<span style="font-size: 20px"><rating ng-model="movie.rating" max="10" readonly="true"></rating></span>-->
                <!--<p>Ratings: {{ movie.rating }}/10</p>-->
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <hr>

        <!-- Post Content -->
        <p class="lead">{{ movie.description }}</p>
        <p>{{ movie.storyline }}</p>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well" ng-show="leaveComment && !commented">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" ng-model="movieComment" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="commentSubmit()" ng-disabled="!movieComment">Submit</button>
            </form>
        </div>

        <div class="well text-center" ng-show="!leaveComment">
            <h4>You must be logged in order to leave a comment!</h4>
        </div>

        <div class="well text-center" ng-show="commented">
            <h5>Thank you for your comment! Your comment will re reviewed by admin side and approved if appropriate.</h5>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        <div class="media" ng-repeat="comment in movieComments" ng-show="movieComments.length !== 0">
            <a style="cursor:default" class="pull-left" href="">
                <img class="media-object" ng-src="{{ comment.img }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.name }}
                    <small>{{ comment.date }}</small>
                </h4>
                {{ comment.comment }}
            </div>
        </div>

        <!-- Will be shown if there is no comments -->
        <div class="media" ng-show="movieComments.length === 0">
            <div class="well text-center">
                <h4>No Comments!</h4>
                <h5>Be the first to comment the movie.</h5>
            </div>
        </div>
        
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <div ng-include src="'app/shared/footer/footer.html'"></div>

</div>
<!-- /.container -->