<!-- Page Content -->
<div class="container registerBackgroundImage">

    <div class="panel panel-default loginPanel">

        <form class="form-horizontal" name="userForm" ng-submit="submit()" novalidate>

            <fieldset>
                <legend class="loginPanelHeading">Register</legend>

                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label for="fullName" class="col-sm-2 control-label registerText">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="fullName" name="name" class="form-control" ng-model="name" ng-required="true" autocomplete="off" />
                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label for="email" class="col-sm-2 control-label registerText">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" class="form-control" ng-model="email" ng-change="validateInput('email')" ng-required="true" autocomplete="off" ng-model-options="{debounce: 700}" />
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        <p ng-show="states.emailState === -1" class="help-block"><span style="color: orange">Please use different email.</span></p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                    <label for="username" class="col-sm-2 control-label registerText">Username</label>
                    <div class="col-sm-9">
                        <input type="text" id="username" name="username" class="form-control" ng-model="username" ng-change="validateInput('username')" ng-minlength="3" ng-maxlength="8" ng-required="true" autocomplete="off" ng-model-options="{debounce: 700}" />
                        <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                        <p ng-show="states.usernameState === -1" class="help-block"><span style="color: orange">Please use different username.</span></p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                    <label for="password" class="col-sm-2 control-label registerText">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="password" class="form-control" ng-model="password" ng-minlength="5" ng-required="true" />
                        <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label registerText">Picture</label>
                    <div class="col-sm-9">
                        <input type="file" ngf-select="upload($file)" ng-model="picture" name="image" accept="image/*" ngf-max-size="2MB" popover="Not required!" popover-trigger="mouseenter" popover-placement="bottom" />
                        <p ng-show="userForm.image.$error.maxSize" class="help-block" style="color: #a94442">File too large {{picture.size / 1000000|number:1}}MB: max {{picture.$errorParam}}</p>
                        <div class="progresRegister" ng-show="uploadStatus.progressBarVisible"><progressbar class="progress-striped active" max="100" value="uploadStatus.progressBarValue"><i>{{ uploadStatus.progressBarValue }}%</i></progressbar></div>
                        <div><img ng-show="userForm.image.$valid" ngf-src="!picture.$error && picture" class="thumb"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label registerText">Gender</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="gender" value="male" checked ng-model="gender" required /> <span class="registerText">Male</span></label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="gender" value="female" ng-model="gender" required /> <span class="registerText">Female</span></label>
                        </div>
                        <br />

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label registerText">Birthdate</label>
                    <div class="col-sm-9">
                        <datepicker class="registerText" ng-model="birthday" max-date="'2000-01-01'" required>
                        </datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div id="g-recaptcha" class="col-sm-9" vc-recaptcha theme="light" key="'6LdQSgwTAAAAAH-pGRNu7pWo-F9Z7G_Pxje_jke5'" on-success="setResponse(response)"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 loginPanelFields">
                        <input type="submit" class="btn btn-primary loginSubmit" value="Register" ng-disabled="userForm.$invalid" />
                    </div>
                    <div class="loginRegisterText">
                        <a href="#/login">Already registered?</a>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>

</div>
<!-- /.container -->