/* Additional set of styles*/


/* Search field position for DataTable */
.searchDataTablePosition {
    width: 250px;
    margin: 0 0 10px 0;
    left: calc(100% - 250px);
}

.pointerHand {
    cursor: pointer;
}

.tableHeadGlyphiconPosition {
    margin-left: 5px;
}


/* Drop down list on navigation bar fix*/
.dropDownFix {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}


/* Fix for modal backdrop*/
.modal-backdrop {
   /* bottom: 0;*/
    width: 9999px;
    height: 9999px;
}

.modal {
    top: 50px;
}


/* Pointer fix for images on Movies page */
.noHand {
    cursor: default;
}


/* Login background and form */
.loginBackgroundImage {
    background: url("../../data/login.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
}

.loginPanel {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: rgba(0,0,0,.45);
    border: none;
    /*height: 300px;*/
    padding: 25px;
}

.loginPanelFields {
    margin-left: 150px;
}

.loginPanelHeading {
    color: #fff;
    padding: 0 0 10px 10px;
    font-size: 21px;
}

.loginPanelFields input[type="text"] {
    background-color : rgba(255,255,255,.2);
    color: #d7d7d7;
    font-size: 14px;
    border: none;
    padding: 15px;
}

.loginPanelFields input[type="password"] {
    background-color : rgba(255,255,255,.2);
    color: #d7d7d7;
    font-size: 14px;
    border: none;
    padding: 15px;
}

.loginSubmit {
    margin-top: 20px;
}

.loginRegisterText {
    margin-top: 25px;
    margin-right: 155px;
    float: right;
}


/* Register background and form */
.registerBackgroundImage {
    background: url("../../data/register.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
}

.thumb {
    position: absolute;
    margin-top: -20px;
    margin-left: 340px;
    width: 64px;
    height: 64px;
}

.rc-anchor-dark {
    border: none;
}

#g-recaptcha>div>div>iframe {
    height: 76px;
    width: 302px;
    border-radius: 5px;
}

input[type=file] {
    color: #e7e7e7;
}

.registerText {
    color: #e7e7e7;
}

.modal-content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,.85);
    border: none;
    padding: 25px;
}