/* Additional set of styles*/


/* Search field position for DataTable */
.searchDataTablePosition {
    width: 250px;
    margin: 0 0 10px 0;
    left: calc(100% - 250px);
}

.pointerHand {
    cursor: pointer;
}

.tableHeadGlyphiconPosition {
    margin-left: 5px;
}


/* Drop down list on navigation bar fix*/
.dropDownFix {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}


/* Fix for modal backdrop*/
.modal-backdrop {
   /* bottom: 0;*/
    width: 9999px;
    height: 9999px;
}

.modal {
    top: 150px;
}


/* Pointer fix for images on Movies page */
.noHand {
    cursor: default;
}