<!-- Page Content -->
<div class="container loginBackgroundImage">

    <div class="panel panel-default loginPanel">

        <form class="form-horizontal" name="userForm">

            <fieldset>
                <legend class="loginPanelHeading">Checking Registration</legend>
                <br />

                <div class="form-group">
                    <div class="col-sm-6 loginPanelFields">
                        <h4 style="color:#f5f5f5">{{ message }}</h4>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>

</div>
<!-- /.container -->