<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <!-- Page Content -->
                <div class="input-group searchDataTablePosition">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchKeyword" ng-model-options="{debounce: {'default': 1500, 'blur': 0}}">
                </div>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th ng-click="orderByField = 'id'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            ID
                            <span ng-show="orderByField == 'id'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'name'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Name
                            <span ng-show="orderByField == 'name'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'username'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Username
                            <span ng-show="orderByField == 'username'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'password'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Password
                            <span ng-show="orderByField == 'password'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'email'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Email
                            <span ng-show="orderByField == 'email'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'notes'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Notes
                            <span ng-show="orderByField == 'notes'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'occupation'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Occupation
                            <span ng-show="orderByField == 'occupation'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'gender'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Gender
                            <span ng-show="orderByField == 'gender'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'birthday'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Birthday
                            <span ng-show="orderByField == 'birthday'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'registered'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Registered
                            <span ng-show="orderByField == 'registered'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                        <th>
                            Approve
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users | filter: searchKeyword | orderBy:orderByField:reverseSort | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.notes}}</td>
                        <td>{{user.occupation}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.birthday}}</td>
                        <td>{{user.registered}}</td>
                        <td>edit btn</td>
                        <td>del btn</td>
                        <td>approve btn</td>
                    </tr>
                    </tbody>
                </table>

                <!-- /.container -->
            </div>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" rotate="true" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->