<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Upcoming</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <!-- Page Content -->
                <div class="input-group searchDataTablePosition">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchKeyword" ng-model-options="{debounce: {'default': 1500, 'blur': 0}}">
                </div>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th ng-click="orderByField = 'id'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            ID
                            <span ng-show="orderByField == 'id'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'name'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Name
                            <span ng-show="orderByField == 'name'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'length'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Length
                            <span ng-show="orderByField == 'length'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'type'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Type
                            <span ng-show="orderByField == 'type'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'year'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Year
                            <span ng-show="orderByField == 'year'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th ng-click="orderByField = 'upcoming'; reverseSort = !reverseSort" class="pointerHand tableHeadArea">
                            Upcoming
                            <span ng-show="orderByField == 'upcoming'" class="tableHeadGlyphiconPosition">
                                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="upcoming in upcomings | filter: searchKeyword | orderBy:orderByField:reverseSort | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                        <td>{{upcoming.id}}</td>
                        <td>{{upcoming.name}}</td>
                        <td>{{upcoming.length}}</td>
                        <td>{{upcoming.type}}</td>
                        <td>{{upcoming.year}}</td>
                        <td>{{upcoming.upcoming}}</td>
                        <td>edit btn</td>
                        <td>del btn</td>
                    </tr>
                    </tbody>
                </table>

                <!-- /.container -->
            </div>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" rotate="true" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
        <!-- /.row -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->